<div class="input-group">
  <input class="form-control" id="myDatepickerInput" type="text"/>
  <div class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-calendar"></span>
      <span class="sr-only">Переключить календарь</span>
    </button>
    <div class="dropdown-menu dropdown-menu-right datepicker-calendar-wrapper" role="menu">
      <div class="datepicker-calendar">
        <div class="datepicker-calendar-header">
          <button type="button" class="prev"><span class="glyphicon glyphicon-chevron-left"></span><span class="sr-only">Предыдущий месяц</span></button>
          <button type="button" class="next"><span class="glyphicon glyphicon-chevron-right"></span><span class="sr-only">Следующий месяц</span></button>
          <button type="button" class="title">
              <span class="month">
                <span data-month="0">Январь</span>
                <span data-month="1">Февраль</span>
                <span data-month="2">Март</span>
                <span data-month="3">Апрель</span>
                <span data-month="4">Май</span>
                <span data-month="5">Июнь</span>
                <span data-month="6">Июль</span>
                <span data-month="7">Август</span>
                <span data-month="8">Сентябрь</span>
                <span data-month="9">Октябрь</span>
                <span data-month="10">Ноябрь</span>
                <span data-month="11">Декабрь</span>
              </span> <span class="year"></span>
          </button>
        </div>
        <table class="datepicker-calendar-days">
          <thead>
          <tr>
            <th>Вс</th>
            <th>Пн</th>
            <th>Вт</th>
            <th>Ср</th>
            <th>Чт</th>
            <th>Пт</th>
            <th>Сб</th>
          </tr>
          </thead>
          <tbody></tbody>
        </table>
        <div class="datepicker-calendar-footer">
          <button type="button" class="datepicker-today">Сегодня</button>
        </div>
      </div>
      <div class="datepicker-wheels" aria-hidden="true">
        <div class="datepicker-wheels-month">
          <h2 class="header">Месяц</h2>
          <ul>
            <li data-month="0"><button type="button">Янв</button></li>
            <li data-month="1"><button type="button">Фев</button></li>
            <li data-month="2"><button type="button">Мар</button></li>
            <li data-month="3"><button type="button">Апр</button></li>
            <li data-month="4"><button type="button">Май</button></li>
            <li data-month="5"><button type="button">Июн</button></li>
            <li data-month="6"><button type="button">Июл</button></li>
            <li data-month="7"><button type="button">Авг</button></li>
            <li data-month="8"><button type="button">Сен</button></li>
            <li data-month="9"><button type="button">Окт</button></li>
            <li data-month="10"><button type="button">Ноя</button></li>
            <li data-month="11"><button type="button">Дек</button></li>
          </ul>
        </div>
        <div class="datepicker-wheels-year">
          <h2 class="header">Год</h2>
          <ul></ul>
        </div>
        <div class="datepicker-wheels-footer clearfix">
          <button type="button" class="btn datepicker-wheels-back"><span class="glyphicon glyphicon-arrow-left"></span><span class="sr-only">Return to Calendar</span></button>
          <button type="button" class="btn datepicker-wheels-select">Выбрать <span class="sr-only">Месяц и год</span></button>
        </div>
      </div>
    </div>
  </div>
</div>