extends ./layout.jade

block title
	title Типовая страница

block css
	link(rel="stylesheet", href="assets/plugins/bootstrap/less/bootstrap.css")

block js

block content
	mixin item(name)
		.chord-tab.js-item(data-config=name)=name

	.chords-wrapper
		+item('minor')
		+item('major')
		+item('more')
		+item('all')

