extends ./layout.jade

block title
	title Главная страница

block links
	//- link(rel="stylesheet", href="assets/plugins/magnific-popup/dist/magnific-popup.css")
	//- link(rel="stylesheet", href="assets/plugins/slick-carousel/slick/slick.css")
	script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU")
	//- script(scr="assets/plugins/slick-carousel/slick/slick.min.js")
	//- script(scr="assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js")
	//- script(scr="assets/plugins/bootstrap/js/tab.js")
	//- script(scr="assets/plugins/fuelux/js/radio.js")
	script(scr="assets/js/yandex.js")


block content
	p hello, world!
	#map