<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=1024")
		block title
			title Страница
		//- link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700|Roboto:400,300,300italic,400italic,500,500italic,700&subset=all',rel='stylesheet',type='text/css')
		//- link(rel="stylesheet", href="assets/plugins/bootstrap/less/bootstrap.css")
		//- link(rel="stylesheet", href="assets/plugins/fuelux/less/fuelux.css")
		//- link(rel="stylesheet", href="assets/plugins/magnific-popup/dist/magnific-popup.css")
		//- link(rel="stylesheet", href="assets/plugins/slick-carousel/slick/slick.css")
		link(rel="stylesheet", href="assets/css/main.css")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script.
			window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.11.1.min.js"><\/script>')	
		//- script(src="assets/js/vendor/modernizr-2.6.2.min.js")
		//- script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU")
		//- script(src="assets/plugins/slick-carousel/slick/slick.min.js")
		//- script(src="assets/plugins/magnific-popup/dist/jquery.magnific-popup.min.js")
		//- script(src="assets/plugins/bootstrap/js/tab.js")
		//- script(src="assets/plugins/fuelux/js/radio.js")
		//- script(src="assets/js/yandex.js")
		script(src="assets/js/main.js")
		<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!--[if (gte IE 6)&(lte IE 8)]>
		<![endif]-->
		// ==============
		// addition links
		// ==============
		block links
	body
		<!--[if lt IE 8]>
		<p class="browsehappy">Вы используете <strong>устаревшую</strong> версию браузера. Пожалуйста <a href="http://browsehappy.com/">обновите ваш браузер</a> до последней версии.</p>
		<![endif]-->
		.page
			// HEAD BEGIN
			header
				.main
			// HEAD END
			// MAIN BEGIN
			.section
				.full-width
				.main
					block content
			// MAIN END
			.footer-shiv
		// FOOTER BEGIN
		footer
			.main
		// FOOTER END

		