<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=1024")
		block title
			title Страница
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700',rel='stylesheet',type='text/css')
		link(rel="stylesheet", href="assets/plugins/bootstrap/less/bootstrap.css")
		link(rel="stylesheet", href="assets/css/main.css")
		block css
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
	body
		.chord
			span.chord__text.js-chord-text
			.chord__loader.js-loader
		.page
			// HEAD BEGIN
			header
				.main
			// HEAD END
			// MAIN BEGIN
			.section
				.full-width
				.main
					block content
			// MAIN END
			.footer-shiv
		// FOOTER BEGIN
		footer
			.main
		// FOOTER END

		script(src="assets/js/main.js")
		script(src="assets/plugins/ion-sound/js/ion.sound.js")
		block js
		