/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
@import url('../_less/base.less');
@import url('../_less/fonts.less');

@footer-height: 100px;
@content-width: 600px;
@font-size-base: 16px;
@font-family-base: 'Roboto',Arial, sans-serif;
@line-height-base: 1.42;

@color-blue: #4880dc;
html, body {
	height: 100%;
}
body {
	font:@font-size-base @font-family-base;
	color: #404040;
	position: relative;
	line-height: @line-height-base;
	-webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}
p {
	margin-bottom: 20px;
}
a {

}
.page {
	min-height: 100%;
	margin-bottom: -@footer-height;
}
header, .section, footer {
	position: relative;
	min-width: @content-width;
}
footer, .footer-shiv {
	clear: both;
	height: @footer-height;
}
.main {
	position: relative;
	width: @content-width;
	margin: 0 auto;
	.clearfix;
}
.content {
	.clearfix;
}

.chord {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 50px;
	width: 100px;
	font-size: 30px;
	text-align: center;
	line-height: 50px;
	&__loader {
		position: absolute;
		bottom: 0;
		width: 0;
		height: 3px;
		background: @color-blue;
		transition: width 2s linear;
		&.active {
			width: 100%;
		}
	}
}

.chords-wrapper {
	text-align: center;
	&:after {
		content: '';
		width: 100%;
		display: inline-block;
		height: 0;
	}
}

.chord-tab {
	text-align: center;
	display: inline-block;
	padding: 20px 30px;
	border-radius: 8px;
	background: #eee;
	margin: 20px 10px;
	font-size: 24px;
	cursor: pointer;
	transition: background .2s;
	&:hover {
		background: darken(#eee, 10%);
	}
	&.active {
		background: @color-blue;
		color: #fff;
	}
}

//==================================
@import url('../_less/helper.less');
